%ul.breadcrumb
  %li
    =link_to "Account", account_path(@payment.account)
    %span.divider
      \/
  %li.active
    %a{:href=>"#"}
      Payment Details
%h1 
  Payment Details
  
  
%form.form-horizontal{:style=>"margin-top: 20px"}
  %fieldset
    .control-group
      %label
        Payment ID
      .controls
        %span{:class=>"uneditable-input"}
          =@payment.id
    .control-group
      %label
        Account ID
      .controls
        %span{:class=>"uneditable-input"}
          =@payment.account.id
    .control-group
      %label
        State
      .controls
        %span{:class=>"uneditable-input"}
          =@payment.state
    .control-group
      %label
        Started at
      .controls
        %span{:class=>"uneditable-input"}
          =@payment.started_at
    .control-group
      %label
        Completed at
      .controls
        %span{:class=>"uneditable-input"}
          =@payment.completed_at
    .control-group
      %label
        Effective at
      .controls
        %span{:class=>"uneditable-input"}
          =@payment.effective_at

%table.table.table-bordered
  %thead
    %tr
      %th ID
      %th Created At
      %th From State
      %th To State
      %th Remote Transaction ID
      %th Raw Response
      %th Error
  %tbody
    -@payment_events.each do |event|
      %tr
        %td
          =event.id
        %td 
          =event.created_at
        %td
          =event.from_state
        %td
          =event.to_state
        %td
          =event.remote_transaction_id
        %td
          =event.raw_response
        %td
          =event.error.inspect