%a.btn.btn-primary.btn-large.pull-right{:href => new_account_path}
  %i.icon-plus
  Create New Account
%h1
  Accounts
%table.table.table-bordered{:style=>"margin-top: 20px"}
  %thead
    %tr
      %th
        Account ID
      %th
        External Service ID
      %th
  -@accounts.each do |account|
    %tr
      %td
        =account.id
      %td
        =account.external_service_id
      %td
        %a.btn{href: account_path(account) }
          Details