%h1
  Accounts

%ul
  -@accounts.each do |account|
    %li
      %dl
        %dt
          =account.id
        %dd.external_service_id
          =account.external_service_id
      %a.btn-primary{href: account_path(account) }
        Details