-if flash[:error]
  %h2.error
    =flash[:error]
    
=form_for @account, :html => {:class => "form-horizontal"} do |f|
  %fieldset
    %legend
      Create New Account
    .control-group
      %label
        External Service ID
      .controls
        =f.text_field :external_service_id
    .control-group
      %label
        Oauth Token
      .controls
        =f.text_field :access_token
    .control-group
      %label
        Scheduled Amount
      .controls
        =text_field_tag :amount, 25
    .control-group
      %label
        Scheduled Withdrawal Day of Month
      .controls
        =text_field_tag :day_of_month, 1
 
    .form-actions
      =f.submit 'Create', :class => 'btn btn-primary'